    <section class="grid">
        <app-product-item *ngFor="let item of filteredProducts | slice:0:truncateValue; let i = index" [item]="item" />
    </section>
    <div *ngIf="canShowOtherProducts()" class="text-center mb-5">
      <button
        [disabled]="!moreToShow()"
        class="mt-5 show-more d-flex align-items-center justify-content-between"
        (click)="showMore()"
      >
        {{ moreToShow() ? "View more" : "No more products to see" }}
        <img
          class="rotate"
          [ngClass]="{ 'upside-down': !moreToShow() }"
          [src]="'../../../assets/svg/right-arrow.svg'"
        />
      </button>
    </div>
