    <div class="container-md">
      <h3 class="title--purchase text-center">Purchase Online</h3>
    </div>
    <div class="container-md">
      <div class="tabs mb-5">
        <div class="tabs--container">
          <a
            [ngClass]="{ 'router-link-active': api() === link.api }"
            (click)="setApi(link.api)"
            *ngFor="let link of links_data"
            >{{ link.name }}</a
          >
        </div>
        <select [ngModel]="select_color()" (change)="onChange($event)">
          <option selected value="">Filter by color</option>
          <option *ngFor="let color of colors(); let index = index" [value]="color">
            {{ toCapitalized(color) }}
          </option>
        </select>
      </div>
      <app-download-list
        [api]="api()"
        [selectedColor]="select_color()"
        (onColorsGathered)="onColorsReceived($event)"
      >
      </app-download-list>
    </div>



