  <div *ngIf="modalData" class="modal-backdrop" (click)="close($event)">
      <div *ngIf="modalData" class="modal">
        <header id="modalheader" (click)="close($event)">
          <img [src]="'../../../../assets/svg/close.svg'" alt="" />
        </header>
        <section class="modal-body" id="modalDescription">
          <div class="img">
            <img
              [src]="modalData['image-preview']"
              [alt]="modalData.name"
            />
          </div>
          <div class="info">
            <h1>{{ modalData.name }}</h1>
            <h3 class="mb-5">{{ modalData.description }}</h3>
            <div class="prices">
              <span *ngIf="modalData['old-price']" class="old-price">{{
                modalData["old-price"]
              }}</span>
              <div
                class="mb-5 d-flex justify-content-start align-items-center"
              >
                <span class="actual-price">{{ modalData.price }}</span>
                <span *ngIf="modalData.discount" class="discount">{{
                  modalData.discount
                }}</span>
              </div>
            </div>
            <a [href]="modalData.link" target="_blank"
              ><button class="add-to-cart">Add To Cart</button></a
            >
          </div>
        </section>
      </div>
  </div>
